<div>
  <h2>Supplier Management</h2>
  <form (submit)="addSupplier(nameInput.value, contactInfoInput.value)">
    <label for="nameInput">Supplier Name:</label>
    <input type="text" id="nameInput" #nameInput required>

    <label for="contactInfoInput">Contact Information:</label>
    <input type="text" id="contactInfoInput" #contactInfoInput required>

    <button type="submit">Add Supplier</button>
  </form>

  <ul>
    <li *ngFor="let supplier of suppliers">
      {{ supplier.id }} -  {{ supplier.name }} - {{ supplier.contactInfo }}
    </li>
  </ul>
</div>
