@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Define the theme (indigo-pink) to be used by Angular Material components.
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// Include the default Angular Material styles.
@include angular-material-theme($theme);

.low-stock {
  color: red;
  font-weight: bold;
}

