<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" class="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button type="submit">Login</button>
  </form>
  <p class="error-message" *ngIf="loginError">Invalid username or password.</p>
</div>
