<div>
  <mat-toolbar color="primary">
    <span>My Inventory System</span>
    <span class="spacer"></span>
    <div class="menu">
    <button mat-button routerLink="supplier">Supplier</button>
    <button mat-button routerLink="inventory">Inventory</button>
    <button mat-button routerLink="add">Add</button>
    </div>

  </mat-toolbar>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
