<div class="form-container">
  <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="itemName" placeholder="Item Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="price" placeholder="Price" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="quantityInStock" placeholder="Quantity in Stock" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="threshold" placeholder="Threshold" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Supplier</mat-label>
      <mat-select formControlName="supplierId">
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
