div {
  margin: 20px;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 10px;
    }

    button {
      cursor: pointer;
    }
  }

  table {
    width: 100%;

    th, td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    button {
      margin-right: 5px;
    }
  }
}

.low-stock {
  color: red;
  font-weight: bold;
}
