<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Item Name Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
      <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

    <!-- Quantity in Stock Column -->
    <ng-container matColumnDef="quantityInStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity in Stock </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'low-stock': isLowStock(element)}">
        {{element.quantityInStock}}
      </td>
    </ng-container>

    <ng-container matColumnDef="supplierId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier ID</th>
      <td mat-cell *matCellDef="let element">
        {{element.supplierId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="salesHistory">
      <th mat-header-cell *matHeaderCellDef> Sales History </th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let sale of element.salesHistory">
            Date: {{ sale.date | date:'short' }}, Quantity Sold: {{ sale.quantitySold }}, Revenue: {{ sale.totalRevenue | currency }}
          </li>
        </ul>
      </td>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" routerLink="/edit/{{element.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteItem(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="sellItem(element)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </td>
      <td mat-cell *matCellDef="let element">
        {{element.quantityInStock}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <app-supplier></app-supplier> -->
</div>
